.address-nav {
    margin-right: 70px;
    width: 231px;
}

.address__link {
    display: inline-block;
    color: $white-color-60transp;
    font-size: 14px;
    line-height: 1.71;
    transition: color $main-transition;
    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.maps {
    color: $primary-white-color;
    line-height: 1.71;
}

.address-list__item:not(:last-child) {
    margin-bottom: 9px;
}
